<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:icon="@mipmap/ic_launcher2"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ITVExtremeño"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".controlador.ventanas.DetalleCita"
            android:exported="false" />
        <activity
            android:name=".controlador.ventanas.DetalleVehiculo"
            android:exported="false" />
        <activity
            android:name=".controlador.ventanas.Perfil"
            android:exported="false" />
        <activity
            android:name=".controlador.ventanas.Citas"
            android:exported="false" />
        <activity
            android:name=".controlador.ventanas.Vehiculos"
            android:exported="false" />
        <activity
            android:name=".controlador.ventanas.Inicio"
            android:exported="false"
            android:label="@string/title_activity_inicio"
            android:theme="@style/Theme.ITVExtremeño" />
        <activity
            android:name=".controlador.ventanas.Registrar"
            android:exported="false" />
        <activity
            android:name=".controlador.ventanas.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>